.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333;
  margin: 0px 0px 30px 0px;
}

.btn-reset {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  border: none;
  cursor: pointer;
}


.lock {
  overflow: hidden;
}


.bg-focus:before, .outline-focus:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background-color: #9D5CD0;
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}
.outline-focus:before {
  background-color: transparent;
  border: 3px solid #9D5CD0;
  border-radius: 100px;
}
.outline-focus {
  background-color: #9D5CD0;
  border: 3px solid #9D5CD0;
  border-radius: 100px;
  padding: 17px 35px;
}


.bg-focus:focus-visible:before,
.outline-focus:focus-visible:before {
  opacity: 1;
}
.bg-focus:hover:not(:focus-visible) {
  color: #9D5CD0;
}
.bg-focus:active:not(:focus-visible) {
  color: #7943A4;
}
.outline-focus:hover:not(:focus-visible) {
  background-color: #9D5CD0;
  border: 3px solid #D1A9F0;
}
.outline-focus:active:not(:focus-visible),
.outline-focus.btn-active:active {
  background-color: #7943A4;
}

.outline-focus-1:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background-color: #9D5CD0;
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}
.outline-focus-1 {
  border: 3px solid #9D5CD0;
  border-radius: 30px;
  padding: 17px 35px;
}

.outline-focus-1:before {
  background-color: transparent;
  border: 3px solid #9D5CD0;
  border-radius: 30px;
}

.outline-focus-1:hover:not(:focus-visible) {
  color: #fff;
  background-color: #9D5CD0;
  border: 3px solid #D1A9F0;
}
.outline-focus-1:active:not(:focus-visible),
.outline-focus-1.btn-active:active {
  background-color: #7943A4;
}

.outline-focus-1:focus-visible:before {
  opacity: 1;
}


