.events {
  padding-bottom: 80px;
}

.events__title {
  margin-bottom: 15px;
  padding-top: 2px;
  padding-left: 9px;
}
.events__content-container{
  position: relative;
  padding-left: 15px;
}

.events-pagination {
  display: none;
  justify-content: center;
}

.events__btns .swiper-button-disabled {
  display: none;
}
.events-btn-prev {
  width: 50px;
  height: 50px;
  position: absolute;
  border: 2px solid transparent;
  border-radius: 100px;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  transform: rotate(180deg);
  cursor: pointer;
  overflow: hidden;
  transition: all .9s ease-in-out;
}

.events-btn-prev svg path {
  transition: all .3s ease-in-out;
}
.events-btn-prev:hover svg path {
  fill: #D1A9F0;
}

.events-btn-prev:active svg path {
  fill: #D1A9F0;
}
.events-btn-prev:active {
  border: 2px solid #9D5CD0;
}

.events-btn-prev:focus-visible svg path {
  fill: transparent;
}

.events-btn-next {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 100px;
  overflow: hidden;
  cursor:pointer;
  transition: all .9s ease-in-out;
}

@media (max-width:1650px) {
  .events-btn-next {
    right: -10px;
  }
}
.events-btn-next svg path {
  transition: fill .3s ease-in-out;
}

.events-btn-next:hover svg path {
  fill: #D1A9F0;
}

.events-btn-next:focus-visible svg path {
  fill: transparent;
}

.events-btn-next:active {
  border: 2px solid #9D5CD0;
}

.events-btn-next:focus-visible {
  border: 2px solid #9D5CD0;
}



.events__swiper {
  max-width: 1600px;
  width: 100%;
  min-height: 700px;
}

.events__img {
  width: 100%;
  /* height: 300px; */
  object-fit: cover;
  object-position: center;
}

.events__content {
  display: flex;
  flex-direction: column;
  min-height: 344px;
  padding-top: 13px;
  padding-left: 50px;
  padding-right: 19px;
  padding-bottom: 42px;
  border-right: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.events__date {
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}
.events__content-heading {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.events__content-text {
  max-width: 384px;
  margin-bottom: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}
.events__content-link {
  position: relative;
  display: inline-block;
  width: 92px;
  height: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  outline: none;
  z-index: 1;
}

.events__content-link:focus-visible {
  color: #fff;
  border-bottom: 1px solid transparent;
}


.events__content-link:hover:not(:focus-visible) {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.events__content-link:active:not(:focus-visible) {
  color: #333;
  border-bottom: 1px solid #333;
}

