.gallery {
  background-image: url("../../img/gallery/gallery-bg.jpg");
  color: #fff;
  padding: 80px 0px 50px 19px;
}
/* .gallery__left{
  width: 26%;
} */

.gallery__content {
  justify-content: space-between;
  display: flex;
}

.gallery__top {
  margin-bottom: auto;
}

.gallery__left--content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 280px;
  width: 42%;
}

.gallery__title {
  color: #fff;
  margin-bottom: 16px;
}

.choices{
  max-width: 400px;
  width: 100%;
  min-height: 40px;
  overflow: visible;
}
.choices:focus-visible{
  background: rgba(255, 255, 255, 0.2);
  transition: background .3s ease-in-out;
}
.choices__inner {
  max-width: 400px;
  width: 100%;
  padding: 0;
  min-height: 40px;
  background-color: inherit;
  border-radius: 6px;
  padding: 0;
}
.choices__list--single .choices__item {
  padding-left: 13px;
}

.choices__inner:hover:not(:focus-visible) {
  background: rgba(255, 255, 255, 0.2);
  transition: background .3s ease-in-out;
}
.choices__placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #999;
  opacity: 1;
}
.is-open .choices__inner, .is-focused .choices__inner {
  border-radius: 6px;
  border-color: #fff;
}
.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0px;
  padding-left: 0px;
}
.choices__list--single {
  font-size: 16px;
  padding: 10px 0 0 0;
}

.choices__list--dropdown {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 6px;
  background-color: #000;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
	display: none;
  background: rgba(255, 255, 255, 0.2);
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
}

.choices[data-type*=select-one]:after {
  content: url('../../img/default.svg');
  top: 13px;
  right: 24.5px;
  border-style: none;
}

.choices[data-type*=select-one].is-open::after {
  content: url('../../img/Rectangle141.svg');
  margin-top: -2.5px;
}

#choices--choices-item-choice-5 {
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-selected {
  display: none
}


.gallery__select-title {
  display: block;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
.gallery-slide{
  /* height: 350px; */
  /* height: 100%; */
}

.swiper-right-content {
  margin-left: 50px;
  padding-top: 22px;
  padding-bottom: 9px;
  padding-left: 3px;
  max-width: 1175px;
  height: auto;
  overflow: hidden;
}



.swiper-btn-prev,
.swiper-btn-next {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}

.sw-btn.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.sw-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 100px;
  outline: none;
  overflow:hidden;
  transition: all .3s ease-in-out;
}

.sw-btn path {
  transition: all .3s ease-in-out;
}

.sw-btn:hover:not(:focus-visible) path {
  fill: #9D5CD0;
}

.sw-btn:active:not(:focus-visible) {
  border: 2px solid black;
}

.sw-btn:active:not(:focus-visible) path {
  fill: #7943A4;
}

.sw-btn:focus-visible {
  border: 2px solid #7943A4;
}

.sw-btn:hover:not(:focus-visible).swiper-button-disabled path {
  fill: #666;
}

.sw-btn:active:not(:focus-visible).swiper-button-disabled {
  border: 2px solid transparent;
}

.sw-btn:focus-visible.swiper-button-disabled {
  border: 2px solid transparent;
}

.swiper-gallery-slide{
  height: 350px;
  position: relative;
}

.swiper-gallery-slide:focus{
  outline: 2px solid #7943A4;
}
.swiper-gallery-slide:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  outline: 2px solid #D1A9F0;
}

.swiper-gallery-slide::before {
  content: "";
  position: absolute;
  top: 25px;
  bottom: 25px;
  right: 25px;
  left: 25px;
  background-color:rgba(0,0,0,0.5);
  background-image: url("../../img/gallery/hover.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0;
  transition-property: z-index, opacity;
  transition: .3s ease-in-out;
}

.swiper-gallery-slide:hover:before {
  z-index: 1;
  opacity: 1;
}

.swiper-gallery-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.swiper-gallery-slide:active:not(:focus-visible).swiper-gallery-slide::after {
  opacity: 1;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.swiper-right-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 27px;
  margin-left: 7px;
}


.swiper-pagination-right {
  max-width: 50px;
  text-align: center;
  margin-right: 6px;
  margin-left: 8px;
}

.swiper-slide-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.gallery__checkbox{
  margin-bottom: 22px;
}
.gallery__checkbox-wrapper{
  position: relative;
  margin: 0px 0px 14px 0px;
}

.gallery__checkbox-wrapper:last-child{
  margin: 0;
  padding-bottom: 5px;
}


.gallery__input {
  position: absolute;
  appearance: none;
}

.gallery__label {
  padding-left: 25px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.gallery__label::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 1;
  transition: border 0.3s ease-in-out;
}
.gallery__label:hover {
  color: #C283F3;
}

.gallery__label:focus {
  color: #C283F3;
}

.gallery__label:active {
  color: #C283F3;
}

.gallery__label::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background: url("../../img/gallery/check.svg") no-repeat;
  background-size: 4px 4px;
  position: absolute;
  opacity: 0;
  top: 8px;
  left: 5px;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}

.gallery__input:checked + .gallery__label::before{
  border-color: #7943A4;
  color: #7943A4;
}
.gallery__input:checked + .gallery__label{
  color: #7943A4;
}
.gallery__label:checked {
  color: #7943A4;
}

.gallery__input:checked + .gallery__label::after{
  opacity: 1;
}

.gallery__input:not(:disabled):not(:checked)+.gallery__label:hover::before {
  border-color: #7943A4;
}
.gallery__input:not(:disabled):active+.gallery__label::before {
  border-color: #7943A4;
}

.gallery__input:focus+.gallery__label::before {
  border-color: #7943A4;
  color: #7943A4;
}

.gallery__input:focus+.gallery__label{
  border-color: #7943A4;
  color: #7943A4;
}
