
.projects {
  padding-bottom: 80px;
}

.projects__container {
  padding-left: 28px;
}

.projects__title {
  margin-bottom: 14px;
}

.projects__text {
  margin-bottom: 18px;
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}


.projects__tolltip {
  width: 15px;
  height: 15px;
  padding: 0;
  background-color: transparent;
  outline: none;
  border-radius: 100px;
  border: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.projects__link {
  position: relative;
  font-weight: 600;
  color: #9D5CD0;
  text-decoration: none;
  outline: 1px solid transparent;
  z-index: 1;
  outline: none;
  transition: all .3s ease-in-out;
}



.projects__link:active:not(:focus-visible) {
  color: #7943A4;
}

.projects__link:focus-visible {
  color: #fff;
}


/* ! TOOLTIP */
.projects__tolltip svg {
  transition: fill 0.3s ease-in-out;
}
.projects__tolltip:hover:not(:focus-visible) svg {
  fill: #D1A9F0;
}

.projects__tolltip:active:not(:focus-visible) svg {
  fill: #D1A9F0;
}
.projects__tolltip:focus-visible svg {
  fill: #9D5CD0;
}

.projects__tolltip:focus-visible .tolltip-bg {
  fill: #fff;
}

.projects__tolltip-container.second {
  margin-left: 5px;
  margin-right: 5px;
}

.projects__tolltip-container.third {
  margin-left: 5px;
  margin-right: 3px;
}


.projects__tolltip:hover:not(:focus-visible).active svg,
.projects__tolltip:focus-visible.active svg,
.projects__tolltip.active svg {
    fill:#9D5CD0;
}

.tolltip-bg.active {
  fill: #fff;
}

/* ! /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ! TIPPY */
.tippy-box[data-theme~='purple'] {
  padding: 4px;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: #9D5CD0;
  border-radius: 0;
  color: #fff;
}

.tippy-box[data-theme~='purple'][data-placement^='top']>.tippy-arrow::before {
  border-top-color:#9D5CD0;
}

.tippy-box[data-theme~='purple'][data-placement^='bottom']>.tippy-arrow::before {
  border-bottom-color:#9D5CD0;
}

.tippy-box[data-theme~='purple'][data-placement^='left']>.tippy-arrow::before {
  border-left-color:#9D5CD0;
}

.tippy-box[data-theme~='purple'][data-placement^='right']>.tippy-arrow::before {
  border-right-color:#9D5CD0;
}
/*! ///////////////////////////////////////////////////////////////////////////////////////// */

.projects__subtitle {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}


.projects__swiper-container {
  position: relative;
  padding: 0 78px;
  max-width: 1445px;
}


.btn-project {
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s ease-in-out;
}
.btn-project svg path {
  transition: fill .3s ease-in-out;
}

.btn-project:hover:not(:focus-visible) svg path {
  fill: #D1A9F0;
}

.btn-project:active:not(:focus-visible) {
  fill: #D1A9F0;
  border: 2px solid #9D5CD0;
}

.btn-project:focus-visible  {
  border: 2px solid #9D5CD0;
}

.btn-project:hover:not(:focus-visible).swiper-button-disabled svg path {
  fill: #ececec;
}

.btn-project:active:not(:focus-visible).swiper-button-disabled {
  fill: #ececec;
  border: 2px solid transparent;
}

.btn-project.swiper-button-disabled {
  opacity: 1;
  cursor: not-allowed;
}
.btn-project.swiper-button-disabled .line {
  stroke: #bbb;
}

.project-slide {
  transition: all  0.3s ease;
}

.project-slide-link:focus-visible {
  filter: none;
  border: 1px solid #7943A4;

}
.projects__slide-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
    /* padding: 10px; */
  border: 1px solid #cacaca;
  transition: border-color .3s ease;
  cursor: pointer;
  transition: all .3s ease-in-out;
}



.projects__slide-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition-property: filter, opacity;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.projects__slide-link:hover:not(:focus-visible) .projects__slide-img {
  filter: none;
  opacity: 1;
}
.projects__slide-link:active:not(:focus-visible) {
  filter: none;
  border: 1px solid #9D5CD0;
}

.projects__slide-link:focus-visible  {
  border: 1px solid #9D5CD0;
}

.swiper-button-next-project {
  position: absolute;
  right: 0;
  top: 40%;
}

.swiper-button-prev-project {
  position: absolute;
  left: 0;
  top: 40%;
}
