.form-wrapper {

  position: relative;
  display: none;
  height: 36px;

  align-items: center;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out .2s;
}

.form {
  position: absolute;
  height: 100%;
  right: 10px;
  top: 0;
  left: 10px;
  bottom: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  background-color: #000;
  align-items: center;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out .2s,
  visibility .3s ease-in-out .2s;
}

.form__input {
  width: 85%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  border: none;
  background: blue;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #FFFFFF;
}
